<% include ../partials/header %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/house" method="POST">
        <div class="form-group">
           <label for="type">Type</label>
     <input type="text" name="type" value="<%=house.type%>"/><br/>
       </div>
       <div class="form-group">
          <label for="type">Image</label>
     <input type="text" name="type" value="<%=house.image%>"/><br/>
   </div>
   <div class="form-group">
      <label for="type">Price</label>
     <input type="text" name="price"  value="<%=house.price%>" /><br/>
   </div>
   <div class="form-group">
      <label for="type">Size</label>
      <input type="text" name="size" value="<%=house.size%>"/><br/>
    </div>
    <div class="form-group">
       <label for="type">Location</label>
   <input type="text" name="location" value="<%=house.location%>" /><br/>
 </div>
      <input class="btn btn-primary" type="submit" value="Add" />

    </form>
  </body>
</html>

<% include ../partials/footer %>
