<% include ../partials/header %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>edit</h1>
    <form action="/house" method="POST">
      Type: <input type="text" name="type" value="<%=house.type%>"/><br/>
    Image: <input type="text" name="type" value="<%=house.image%>"/><br/>
     Price: <input type="text" name="price"  value="<%=house.price%>" /><br/>
     Size: <input type="text" name="size" value="<%=house.size%>"/><br/>
     Location: <input type="text" name="location" value="<%=house.location%>" /><br/>

      <input type="submit" value="Add" />
    </form>
  </body>
</html>

<% include ../partials/footer %>
