<% include ../partials/header %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container2">
<% for(let i = 0; i < house.length; i++){ %>
  <div class="listing">
      <img src="<%=house[i].image%>" >
    <a href="/house/<%=house[i].id%>">
      <h4><%=house[i].type; %></h4>
        <h4><%=house[i].price; %></h4>
          <h4><%=house[i].size; %></h4>
          <h4> <%=house[i].location; %></h4>

</div>

  <% } %>
</div>
  </body>
</html>

<% include ../partials/footer %>
