<% include ../partials/header %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">

    </div>
<% for(let i = 0; i < house.length; i++){ %>
  <div class="listing">
    <a href="/house/<%=house[i].id%>">
      <%=house[i].type; %><br>
        <%=house[i].price; %><br>
          <%=house[i].size; %><br>
            <%=house[i].location; %><br>



  <% } %>
</div>
  </body>
</html>

<% include ../partials/footer %>
