<% include ../partials/header %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>House Information</h1>
    <div class="show">
  <a href="/house/<%=house.id%>">
    <img src="<%=house.image%>" ><br>
  </a>
    <h4>Type: <%=house.type; %></h4>
      <h4>Price: <%=house.price; %></h4>
        <h4>Size(sqft): <%=house.size; %></h4>
        <h4>Location: <%=house.location; %></h4>
        <form action="/house/<%=house.id; %>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE" />
            </form>
            <a class="btn btn-success" href="/house/<%=house.id; %>/edit">Edit</a><br>
            <a class="btn btn-success" href="/house">Back</a><br>
          </div>
  </body>
</html>

<% include ../partials/footer %>
