<% include ../partials/header %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>House Information</h1>
    <img src="<%=house.image%>" ><br>
  <a href="/house/<%=house.id%>"></a>
    <h4><%=house.type; %></h4>
      <h4><%=house.price; %></h4>
        <h4><%=house.size; %></h4>
        <h4> <%=house.location; %></h4>
        <form action="/<%=house.id; %>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE" />
            </form>
            <a href="/house/<%=house.id; %>/edit">Edit</a><br>
            <a href="/house">Back</a><br>
  </body>
</html>

<% include ../partials/footer %>
